@import './layout_style_import.scss';

.cont{
    margin: 10px 0;
}

.container-a{
    color:$text;
    $base-color: orange;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: space-between;
    

    & .box{
        padding: $padding;
        text-align:$text-alng;
        max-width: 100px;
    }
    & .text{
        color:black;
    }
    & .prim{
        font-family: 'Cambria', serif;
        font-size: 15px;
    }
    & .second{
        font-family: 'Georgia', serif;
        font-size: 12px;
    }
    & .base-color {
        background-color: $base-color;
    }
    & .darken-3{
        background: darken($base-color, 30%);
        color:darken($text, 30%);
    }
    & .lighten-3{
        background: lighten($base-color, 30%);
        color:darken($text, 30%);
    }
    & .shadow{
        -webkit-box-shadow: -12px 5px 14px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -12px 5px 14px -3px rgba(0,0,0,0.75);
        box-shadow: -12px 5px 14px -3px rgba(0,0,0,0.75);
        text-shadow: 1.5px 0.5px grey;
    }
}

.container-1{
    color:$text;
    $base-color: green;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;

    & .box{
        padding: $padding;
        text-align:$text-alng;
    }
    & .text{
        color:black;
    }
    & .base-color {
        background-color: $base-color;
    }
    & .darken-1{
        background: darken($base-color, 10%);
        color:darken($text, 10%);
    }
    & .darken-2{
        background: darken($base-color, 20%);
        color:darken($text, 20%);
    }
    & .darken-3{
        background: darken($base-color, 30%);
        color:darken($text, 30%);
    }
    & .darken-4{
        background: darken($base-color, 40%);
        color:darken($text, 40%);
    }
    & .lighten-1{
        background: lighten($base-color, 10%);
        color:darken($text, 10%);
    }
    & .lighten-2{
        background: lighten($base-color, 20%);
        color:darken($text, 20%);
    }
    & .lighten-3{
        background: lighten($base-color, 30%);
        color:darken($text, 30%);
    }
    & .lighten-4{
        background: lighten($base-color, 40%);
        color:darken($text, 40%);
    }
}

.container-2{
    color:$text;
    $base-color: red;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;

    & .box{
        padding: $padding;
        text-align:$text-alng;
    }

    & .base-color {
        background-color: $base-color;
    }
    & .darken-1{
        background: darken($base-color, 10%);
        color:darken($text, 10%);
    }
    & .darken-2{
        background: darken($base-color, 20%);
        color:darken($text, 20%);
    }
    & .darken-3{
        background: darken($base-color, 30%);
        color:darken($text, 30%);
    }
    & .darken-4{
        background: darken($base-color, 40%);
        color:darken($text, 40%);
    }
    & .lighten-1{
        background: lighten($base-color, 10%);
        color:darken($text, 10%);
    }
    & .lighten-2{
        background: lighten($base-color, 20%);
        color:darken($text, 20%);
    }
    & .lighten-3{
        background: lighten($base-color, 30%);
        color:darken($text, 30%);
    }
    & .lighten-4{
        background: lighten($base-color, 40%);
        color:darken($text, 40%);
    }
}

.container-3{
    color:$text;
    $base-color: gold;
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;

    & .box{
        padding: $padding;
        text-align:$text-alng;
    }

    & .base-color {
        background-color: $base-color;
    }
    & .darken-1{
        background: darken($base-color, 10%);
        color:darken($text, 10%);
    }
    & .darken-2{
        background: darken($base-color, 20%);
        color:darken($text, 20%);
    }
    & .darken-3{
        background: darken($base-color, 30%);
        color:darken($text, 30%);
    }
    & .darken-4{
        background: darken($base-color, 40%);
        color:darken($text, 40%);
    }
    & .lighten-1{
        background: lighten($base-color, 10%);
        color:darken($text, 10%);
    }
    & .lighten-2{
        background: lighten($base-color, 20%);
        color:darken($text, 20%);
    }
    & .lighten-3{
        background: lighten($base-color, 30%);
        color:darken($text, 30%);
    }
    & .lighten-4{
        background: lighten($base-color, 40%);
        color:darken($text, 40%);
    }
}