.cont{
    background: #80808052;
    font-family: 'Cambria';
    max-width: 400px;
}
img{
    max-width: 100%;
}
.little_cont{
    display: grid;
    grid-template-columns: 380px;
    grid-template-rows: 234px 37px 125px 38px 83px;
    align-items: center;
}
.cell{
    background: #fff;
    padding: 5px 13px 5px;
    margin-left: 13px;
}
.cell:first-of-type{
    margin-left: 13px;
    padding: 0;
}
.cell:nth-of-type(2){
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 20px;
}
.cell:nth-of-type(3){
    padding-top: 0;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #808080;
}
.cell:nth-of-type(4){
    text-align: right; 
    padding-top: 30px;
    color: #80808094;
    font-size: 15px;
}
.cell:nth-of-type(4) span{
  font-weight: bold; 
  color: #000000;
}
.cell:nth-of-type(5){
    text-align: center;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    background: #04b704;
    width: 100%;
    padding: 15px 30px;
    font-family: 'Cambria';
    color:#fff;
    font-size: 16px;
    text-decoration: none;
}
a:hover{
    background: #fff;
    color:#04b704;
    border: 1px solid #04b704;
    transition: 0.3s;
}
